.Home {
  background-image: url("https://wallpaperaccess.com/full/1537562.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
}
.Mainhome,.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
