* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "ko";
  src: url("../assets/fonts/Nothing_You_Could_Do,Ojuju/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf");
}
h1 {
  font-family: "ko";
  font-size: 60px;
}
